<ion-view view-title="BarCode">
  <ion-content class="has-header has-tabs" padding="2">
   	<div>
   		<button class="button button-block button-positive" ng-click="show()">Show</button>
   		<button class="button button-block button-positive" ng-click="showShortTop()">ShowShortTop</button>
   		<button class="button button-block button-positive" ng-click="showShortCenter()">ShowShortCenter</button>
   		<button class="button button-block button-positive" ng-click="showShortBottom()">ShowShortBottom</button>
   		<button class="button button-block button-positive" ng-click="showLongTop()">ShowLongTop</button>
   		<button class="button button-block button-positive" ng-click="showLongCenter()">ShowLongCenter</button>
   		<button class="button button-block button-positive" ng-click="showLongBottom()">ShowLongBottom</button>
   	</div>
  </ion-content>
</ion-view>
